<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of events</title>
</head>
<body style="width: 200px; margin: auto">
    <h1>List of events</h1>
    <table>
        <tr><th>User ID</th><th>Type</th></tr>
        {{#each events}}
            <tr>
                <td>
                    <a href="/filter/{{this.user_id}}">{{this.user_id}} <a/>
                </td>
                <td>{{this.type}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>